body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR */
/* Default styles for large screens */
#navbar-max {
    width: 35vh;
    height: 100vh;
    box-shadow: 10px 0px 10px grey;
    float: left;
    overflow: auto;
}

.large-logo {
    width: 200px;
    padding: 20px 0px 20px 25px;
}

.small-logo {
    display: none; /* Hide small logo by default */
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    #navbar-max {
        width: 20vh; 
    }

    .large-logo {
        display: none; 
    }

    .small-logo {
        display: block; 
        width: 100px; 
        padding: 20px 0px 10px 20px; 
    }
    .content ul li{
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }
    .content ul li.current {
        display: block; 
    }

    .navbar-description {
        display: none;
    }
    
    #navbar-max .content i.fa {
        font-size: 30px; 
        padding: 5px 0px 5px 10px; 
    }
}

#navbar-max .content {
    background-color: white;
    color: black;
    font-size: 20px;
}
#navbar-max .content ul {
    list-style: none;
    margin: 0px;
    padding-inline-start: 0;
}
#navbar-max .content ul li{
    padding: 20px 0px 20px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
#navbar-max .content .current{
    background-color: #0A4199;
    color: white;
}
#navbar-max .content ul li:hover {
    background-color: #0A4199;
    color: white;
}
#navbar-max .content a, a:visited{
    text-decoration: none;
    color: inherit;
}
#navbar-max .content a:hover{
    color: white;
}
/* NAVBAR ICONS */
#navbar-max .content .fa {
    padding-right: 20px;
}
#navbar-max .content .fa-tasks {
    font-size: 25px;
}
#navbar-max .content .fa-book, .fa-sticky-note, .fa-wrench {
    font-size: 27px;
}
#navbar-max .content .fa-wrench,
.fa-info-circle {
    font-size: 25px;
}
#navbar-max .content .fa-shopping-cart,
.fa-users {
    font-size: 20px;
}


#container {
    background-color: #0A4199;
    overflow: auto;
}
#container h1{
    padding-left: 30px;
    color: white;
}
#container .content{
    background-color: white;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
#container .content table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    text-align: center; 
}
#container .content td, th{
    border-top: 1px solid #ECF0F1;
    padding: 10px 5px 10px 5px;
}
#container .content td{
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
}
#container .content th{
    background-color: #0A4199;
    color: #ECF0F1;
}
.import {
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #0A4199;
    color: #0A4199;
    background-color: white;
    padding: 8px 8px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 31px;
    float: right;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 2vh; 
    margin-right: 2vh;
}
.import:hover {
    background-color: #0A4199;
    color: white;
    border-color: #0A4199; 
}
.add{
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #0A4199;
    color: #fff;
    background-color: #0A4199;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    float: right;
    margin-bottom: 2vh; 
}
.add:hover{
    background: 0 0;
    color: #0A4199;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #0A4199;
    border-right: none;
    padding: 5px;
    height: 27px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0A4199;
  }
  
  .searchTerm:focus{
    color: #0A4199;
  }
  
  .searchButton {
    width: 40px;
    height: 42px;
    border: 1px solid #0A4199;
    background: #0A4199;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap{
    width: 30%;
    float: left;
  }
  #file-upload{
    display: none;
    padding:none;
  }