{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/logo-small.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="navbar-max">
            <div class="logo">
                <img class="large-logo" src="{% static 'images/logo.png' %}" alt="pats-logo">
                <img class="small-logo" src="{% static 'images/small-logo.png' %}" alt="pats-small-logo">
            </div>
            <div class="content">
                <ul>
                    <li><a href="{% url 'index' %}"><i class="fa fa-tasks"></i><span class="navbar-description">Dashboard</span></a></li>
                    <li class="current"><a href="{% url 'inventory' %}"><i class="fa fa-book"></i><span class="navbar-description">Inventory</span></a></li>
                    <li><i class="fa fa-sticky-note"></i>Reports</li>
                    <li><i class="fa fa-shopping-cart"></i>Purchase</li>
                    <li><i class="fa fa-users"></i>People</li>
                    <li><i class="fa fa-wrench"></i>Settings</li>
                    <li><i class="fa fa-info-circle"></i>Help</li>
                </ul>
            </div>
        </div>
        <div id="container">
            <h1>INVENTORY MANAGEMENT SYSTEM</h1>
            <div class="content">
                <button class="add">Add Item</button>
                <button class="import">Import Data</button>
                <table>
                    <thead>
                        <th>DATE</th>
                        <th>NO.</th>
                        <th>DESCRIPTION</th>
                        <th>LOCATION</th>
                        <th>STATUS</th>
                        <th>  </th>
                        <th>  </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09/11/2023</td>
                            <td>CH001</td>
                            <td>STUDENTS CHAIR/NEW</td>
                            <td>ROOM 2</td>
                            <td>new</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>09/11/2023</td>
                            <td>CH001</td>
                            <td>STUDENTS CHAIR/NEW</td>
                            <td>ROOM 2</td>
                            <td>new</td>
                            <td><u>Edit</u></td>
                            <td><u>Delete</u></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>